<h1>Editing Entry</h1>

<%= render 'form', entry: @entry %>

<%= link_to 'Show', @entry, class: 'btn btn-info btn-md' %>
<%= link_to 'Back To Entry List', entries_path, class: 'btn btn-info btn-md' %>
