<td>Grace Living Center</td><td>1921 NE 21 Street</td><td>Oklahoma City, OK 73111</td><td>405-424-1149</td>

https://www.medicare.gov/nursinghomecompare/resultsprint/html?loc=ZIP\73102

Here's the list:

<table class='table table-striped'>
  <thead>
    <tr>
      <th class='col-xs-3'>Name</th>
      <th class='col-xs-6'>Address</th>
      <th class='col-xs-3'>Number</th>
  </thead>
  <tbody>
    <tr>
      <td>Baptist Village</td>
      <td>9700 Mashburn Boulevard, OKC, OK 73162</td>
      <td>405/721-2466</td>
    </tr>
    <tr>
      <td>Manor Care (new)</td>
      <td>83rd and Southwestern</td>
      <td></td>
    </tr>
    <tr>
      <td>Health Center at Concordia</td>
      <td>7707 West Britton Road, OKC, OK 73132</td>
      <td>405/720-7200</td>
    </tr>
    <tr>
      <td>Saint Anne's (new)</td>
      <td>83rd and So Walker</td>
      <td></td>
    </tr>
  </tbody>
</table>  

Grace Living
South Park
Edwards Redeeemer
Manorcare
Skyview
North Winds
South Pointe
Northwest Nursing
Windsor Hills
Heritage Manor
Parcway
Bellvue Health
Heritage Park
Midwest City Healthcare
Tuscany Village
Warr Acres
Meadowlake Estates
Hillcrest Nursing
Fountains at Canterbury
Sienna Extended
The Lakes
Health Center at Condordia
St Anne's Home
Baptist Village
Edmond Healthcare
Epworth Villa
Quali Creek Nursing and Rehab
Ranchwood
Edmond Health and Rehab
Spanish Cove
Gran Grans
Bradford Village
Oakhill Canterbury
Medical Park West
Brookhaven Extensive Care
Holiday Heights
Cedar Creek Nursing
Wolfe Living Center
Harrah Nursing Center