<h1>Editing Toilet</h1>

<%= render 'form', toilet: @toilet %>

<%= link_to 'Show', @toilet, class: 'btn btn-info btn-md' %> 
<%= link_to 'Back To Toilet List', toilets_path, class: 'btn btn-info btn-md' %>
